.PuzzleTips {
    position: fixed;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    font-family: "微软雅黑";
    z-index: 999;
    font-size: 14px;
    /**/
    z-index: 5000;
    line-height: 1.42857143;
}

.PuzzleTips-default {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.PuzzleTips-success {
    background-color: rgba(92, 184, 92, 0.8);
    color: #fff;
}

.PuzzleTips-info {
    background-color: rgba(91, 192, 222, 0.8);
    color: #fff;
}

.PuzzleTips-warning {
    background-color: rgba(240, 173, 78, 0.8);
    color: #fff;
}

.PuzzleTips-danger {
    background-color: rgba(217, 83, 79, 0.8);
    color: #fff;
}